html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #3273a3; */
  background: rgb(28,96,185);
  background: linear-gradient(0deg, rgba(28,96,185,1) 0%, rgba(0,61,103,1) 100%);
}

* {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-weight: bold;
  color: white;
}

a {
  text-decoration: none;
}

.header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.social {
  margin: 0px 20px;
}

.content {
  padding: 0px 50px;
}

.randomEnemyZone {
  display: inline-flex;
}

.pAndEInfo {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.pInfo, .eInfo {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px solid;
    border-color: #deb045;
    border-radius: 15px;
}

.elementInsideOfDisplay { 
  min-width: 100px;
  min-height: 50px;
  display:inline-block;

}

.playerHealthElements {
  display: flex;
  justify-content: center;
}

.classChoiceZone {
  display: inline-flex;
  justify-content: space-between;
  max-width: 300px;
}

.parentCombatLogBox {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.combatLogs {
  display: inline-block;
  border: 5px solid #deb045;
  border-radius: 15px;
  min-width: 250px;
  min-height: 100px;
  text-align: center;
}

.boxDivider {
  padding: 0px;
  margin: 0px;
  border: 0px;  
}

.buttons { 

  cursor: pointer
  display: inline-flex;
  border: 5px solid;
  border-color: #deb045;
  border-radius: 15px;
  padding: 7px;
}

.buttons:hover {
  background-color: rgb(34, 119, 230);
}

.buttons:active {
   background: rgb(0,61,103);
    box-shadow: inset 0 0 15px #000000;
   outline: none;
}

.boxTitles {
}
