/* Universal modifiers; copied from Index.css. */
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #3273a3; */
  background: rgb(28,96,185);
  background: linear-gradient(0deg, rgba(28,96,185,1) 0%, rgba(0,61,103,1) 100%);
}


* {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-weight: bold;
  color: white;
}

a {
  text-decoration: none;
}

a:link {

}
a:visited {

}

a:hover {
  color: gray;
}

a:active {
  
}

.header {
  display: flex;
  justify-content: space-between
}

.navLeft {
  border: 1px solid black;
}

.navRight {
  border: 1px solid black;
}

.navLink {
  margin: 0px 20px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.social {
  margin: 0px 20px;
}

.content {
  padding: 0px 50px;
}

/* Modifiers for basic Text Game. 
Goals: 
      Give a minimum value for the boxes for player/enemy health/name displays so they dont shrink and stretch when empty vs containing text. 

*/

/* Shared setting for anything clickable to turn the mouse into a hand cursor. */

#attackButton, #warriorButton, #wizardButton, #rogueButton, #randomEnemyButton { 
  cursor: pointer
}

.pAndEInfo {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.pInfo, .eInfo {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px solid;
    border-color: #deb045;
    border-radius: 15px;
}

.pHealthBox { 
  min-width: 150px;
  min-height: 100px;
  display:inline-block;
}

.playerHealthElements {
  display: flex;
  justify-content: center;
}

#classChoiceZone {
  display: inline-flex;
  justify-content: space-between;
  max-width: 300px;
}

.parentCombatLogBox {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.playerCombatLogBox, .enemyCombatLogBox {
  display: inline-block;
  border: 5px solid #deb045;
  border-radius: 15px;
  min-width: 250px;
  min-height: 100px;
  text-align: center;
}

.boxDivider {
  padding: 0px;
  margin: 0px;
  border: 0px;  
}

#attackButton {
  display: inline-flex;
  border: 5px solid;
  border-color: #deb045;
  border-radius: 15px;
  padding: 5px;
}

#attackButton:hover {
  background-color: rgb(34, 119, 230);
}

#randomEnemyButton, #warriorButton, #wizardButton, #rogueButton {
  display: inline-flex;
  border: 5px solid;
  border-color: #deb045;
  border-radius: 15px;
  padding: 7px;
}

#attackButton:active { 
    background: rgb(28,96,185);
    box-shadow: inset 0 0 10px #000000;
   outline: none;
}

